# Notebook Overview

Using several pages of Next.co.uk create a python script to routinely scrape and add updated figures to a csv file

# Information to scrape:

* Total SKU
* Total SKU in stock vs OOS

# Imports

In [1]:
from bs4 import BeautifulSoup # Webscraping
import requests
import re

import pandas as pd # Dataframes

from collections import Counter # Combining dictionary values
from datetime import date # Input date the data is scraped

# Custom Functions
import sys
sys.path.append('../')
from custom_functions.functions_for_parsing import strip_string_to_digits_only, sku_meta_data

# Dataframe to store the results

In [2]:
meta_data_df = pd.DataFrame(columns=('Date', 'Total', 'New', 'In Stock', 'Restocked', 'Out of Stock'))
meta_data_df

Empty DataFrame
Columns: [Date, Total, New, In Stock, Restocked, Out of Stock]
Index: []

# Scrape stock levels

In [6]:
# Timestamp of date of scraping
todays_date = {'Date': date.today()}

# Combine the meta_data for sku from webpages scraped
womens_meta_data = sku_meta_data('https://www.next.co.uk/shop/gender-women/sizetype-')
mens_meta_data = sku_meta_data('https://www.next.co.uk/shop/gender-men/sizetype-')
all_meta_data = {}
for key, value in womens_meta_data.items():
    all_meta_data[key] = womens_meta_data[key] + mens_meta_data[key]

# Combine the Date with the meta_data
todays_meta_data = {**todays_date, **all_meta_data}
todays_meta_data

{'Date': datetime.date(2020, 12, 21),
 'Total': 77424,
 'New': 8354,
 'In Stock': 66196,
 'Restocked': 514,
 'Out of Stock': 11228}

In [5]:
# Update meta data df
meta_data_df = meta_data_df.append(todays_meta_data, ignore_index=True)
meta_data_df

         Date  Total   New In Stock Restocked Out of Stock
0  2020-12-21  77424  8354    66196       514        11228

In [8]:
# Append the new data to meta_data csv
meta_data_df.to_csv('../data/meta_data.csv', mode='a', header=False)

# Scrape Sales data